<div>
    <div class="title-part">
        <strong>LOẠI PHÒNG KHÁM</strong>
    </div>
    <div class="row row-cols-4 ">
        <div class="col-3 mb-4" *ngFor="let category of categories">
            <div class="card rounded-4 card-category">
                <div class="overplay rounded-4">
                    <div class="position-absolute category-title">
                        <h4 class="text-capitalize">{{ category.name }}</h4>
                        <P>SỐ LƯỢNG PHÒNG KHÁM</P>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center mt-4">
        <a class="btn-readmore">XEM THÊM</a>
    </div>
</div>


<div style="margin-top: 150px;">
    <div class="title-part">
        <strong>TÊN PHÒNG KHÁM</strong>
    </div>
    <div class="row row-cols-3 px-5">
        <div class="col">
            <div class="card">
                <img class="clinic-img" src="https://encrypted-tbn1.gstatic.com/licensed-image?q=tbn:ANd9GcRubevyxtHLkX0tJVeEFraQ69XO-pt9WRoUCC10WjiDPXUZ44IsdxIzDaNauBn1dn6--kHucmKSXXr8M0582OROQzwdkA58EQ2ndA3JcQ" class="card-img-top" alt="...">
                <div class="card-body">
                    <h4>Tên phòng khám</h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img class="clinic-img" src="https://encrypted-tbn1.gstatic.com/licensed-image?q=tbn:ANd9GcRubevyxtHLkX0tJVeEFraQ69XO-pt9WRoUCC10WjiDPXUZ44IsdxIzDaNauBn1dn6--kHucmKSXXr8M0582OROQzwdkA58EQ2ndA3JcQ" class="card-img-top" alt="...">
                <div class="card-body">
                    <h4>Tên phòng khám</h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img class="clinic-img" src="https://encrypted-tbn1.gstatic.com/licensed-image?q=tbn:ANd9GcRubevyxtHLkX0tJVeEFraQ69XO-pt9WRoUCC10WjiDPXUZ44IsdxIzDaNauBn1dn6--kHucmKSXXr8M0582OROQzwdkA58EQ2ndA3JcQ" class="card-img-top" alt="...">
                <div class="card-body">
                    <h4>Tên phòng khám</h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center mt-4">
        <a class="btn-readmore">XEM THÊM</a>
    </div>
</div>