strong {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    display: block;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.category-title {
    top: 20px;
    left: 20px;
    color: white;
}

.card-category {
    position: relative;
    width: 288px;
    height: 180px;
    background: url(https://encrypted-tbn1.gstatic.com/licensed-image?q=tbn:ANd9GcRubevyxtHLkX0tJVeEFraQ69XO-pt9WRoUCC10WjiDPXUZ44IsdxIzDaNauBn1dn6--kHucmKSXXr8M0582OROQzwdkA58EQ2ndA3JcQ);
    background-position: center center;
    width: 100%;
}

.overplay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

.btn-readmore {
    display: inline-block;
    padding: 10px 20px !important;
    border: 1px black solid;
    font-weight: 700;
    border-radius: 10px;
    text-decoration: none;
    width: 200px;
    color: black;
    font-size: 20px;
}

.btn-readmore:hover {
    background-color: black;
    text-decoration: none;
    color: white;
}