<header class="row justify-content-between shadow px-4">
    <div class="col-5">
        <img style="width: 30%; height: 70px;" src="https://media.loveitopcdn.com/3807/logo-hutech-1.png">
    </div>
    <div class="col">
        <ul class="navbar-nav d-flex flex-row h-100 align-items-center justify-content-end column-gap-3">
            <li class="nav-item">
                <a class="nav-link" href="#">Phòng Khám</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Action</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Action</a>
            </li>
        </ul>
    </div>
    <div class="col-3 d-flex justify-content-end" style="padding: 20px; line-height: 25px;">
        <input class="p-2 rounded-pill" type="text" placeholder="Search">
        <button class="border-0 bg-white"> 
            <fa-icon class="icon px-auto" [icon]="faBell"></fa-icon>
        </button>
        <button class="border-0 bg-white"> 
            <fa-icon class="icon" [icon]="faUserCircle"></fa-icon>
        </button>
    </div>
</header>