<div class="main">
    <!-- Sing in  Form -->
    <section class="sign-in">
        <div class="container">
            <div class="signin-content">
                <div class="signin-image">
                    <img src="/assets/images/signin-image.jpg" alt="sing up image">
                    <a href="/register" class="signup-image-link">Tạo một tài khoản ?</a>
                </div>

                <div class="signin-form">
                    <h2 class="form-title">Đăng nhập</h2>
                    <form class="register-form" [formGroup]="formGroup" (ngSubmit)="onSubmit()">
                        <div class="form-group">
                            <div class="position-relative">
                                <label for="username"><i class="bi bi-person-fill"></i></label>
                                <input type="text" formControlName="username" id="username" placeholder="Tên Tài Khoản" />
                            </div>
                            <div *ngIf="formGroup.get('username')?.hasError('required')" class="ms-4 text-danger">
                                Vui lòng nhập tên tài khoản.
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="position-relative">
                                <label for="password"><i class="bi bi-lock-fill"></i></label>
                                <input type="password" id="password" formControlName="password" placeholder="Mật Khẩu" />
                            </div>
                            <div *ngIf="formGroup.get('password')?.hasError('required')" class="ms-4 text-danger">
                                Vui lòng nhập mật khẩu.
                            </div>

                        </div>
                        <div class="form-group">
                            <input type="checkbox" name="remember-me" id="remember-me" class="agree-term" />
                            <label for="remember-me" class="label-agree-term"><span><span></span></span>Ghi nhớ tôi</label>
                        </div>
                        <div class="form-group form-button">
                            <input type="submit" name="signin" id="signin" class="form-submit" value="Đăng Nhập" />
                        </div>
                    </form>
                    <div class="social-login">
                        <span class="social-label">Hoặc đăng nhập với</span>
                        <ul class="socials">
                            <li><a href="#"><i class="display-flex-center zmdi zmdi-facebook"></i></a></li>
                            <li><a href="#"><i class="display-flex-center zmdi zmdi-twitter"></i></a></li>
                            <li><a href="#"><i class="display-flex-center zmdi zmdi-google"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>