.doctor-info-label {
    font-size: 14px;
    min-width: 120px;
    color: #4b5563;
    align-self: center;
    margin: 0;
}

.day-card {
    min-width: 200px;
    padding: 8px 20px;
}

.day-card p {
    margin: 0;
}

.map-location {
    height: 200px;
    width: 60%;
}

.link-map {
    background-image: linear-gradient(to bottom right, #22d3ee);
}